This is a project that I am working on creating a website that has subscription capability as well as a system for tracking credits that can be used to "win" badges.

The purpose of this project is to showcase different options for landing pages/themes (hence multiple "HOME" pages) and to connect the backend with a database to store the data and even perhaps extract it to display a leaderboard, but let's not get ahead of myself here! I have a few HOME pages to design, so without further adieu...

I also love to work with CSS and animations, so there will be a bit of that sprinkled throughout as well.

I will also include an ability to submit comments/suggestions/shoutouts/encouragements, etc., so please take advantage - or at least say hello, so I know you stopped by!

I ate all the cookies so they won't be tracking you! ;)
